@plugin 'tailwindcss-animate';

/** Colors **/
:root {
  --font-peyda: peyda, system-ui, sans-serif !important;
  /** Base Colors **/
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --primary: #ff0033;
  --primary-foreground: var(--color-white);
  --secondary: #c6c7d2; /* var(--color-neutral-100) */
  --secondary-foreground: #404464; /* var(--color-neutral-600) */
  --muted: var(--color-gray-50);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-neutral-900);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --success: var(--color-green-600);
  --success-foreground: var(--color-white);
  --mono: var(--color-neutral-950);
  --mono-foreground: var(--color-white);

  /** Base Styles **/
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
  --ring: #2dd7be;
  --radius: 10px;
}

.dark {
  /** Base Colors **/
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --card: var(--color-neutral-950);
  --card-foreground: var(--color-neutral-50);
  --popover: var(--color-neutral-950);
  --popover-foreground: var(--color-neutral-50);
  --primary: #ff0033;
  --primary-foreground: var(--color-white);
  --secondary: #27293d; /* var(--color-neutral-800) */
  --secondary-foreground: #9fa1b3; /* var(--color-neutral-400) */
  --muted: var(--color-neutral-900);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-900);
  --accent-foreground: var(--color-neutral-50);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --success: var(--color-green-600);
  --success-foreground: var(--color-white);
  --mono: var(--color-neutral-300);
  --mono-foreground: var(--color-black);

  /** Base Styles **/
  --border: var(--color-neutral-800);
  --input: var(--color-neutral-800);
  --ring: #2dd7be;
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-mono: var(--mono);
  --color-mono-foreground: var(--mono-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/** Custom Font Size **/
@theme {
  --font-peyda: var(--font-peyda);
  --breakpoint-xs: 30rem;
  --text-2sm: 0.8125rem;
  --text-2sm--line-height: calc(1.075 / 0.8125);
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: calc(0.825 / 0.6875);
  --text-xs--line-height: 1.4;
  --text-sm--line-height: 1.42;
  --text-base--line-height: 1.44;
  --text-lg--line-height: 1.46;
  --text-xl--line-height: 1.48;
  --text-2xl--line-height: 1.5;
  --text-3xl--line-height: 1.52;
  --text-4xl--line-height: 1.54;
  --text-5xl--line-height: 1.56;
  --text-6xl--line-height: 1.58;
  --text-7xl--line-height: 1.6;
  --text-8xl--line-height: 1.62;
  --text-9xl--line-height: 1.64;
}
