@plugin 'tailwindcss-animate';
@import './root.css';


:root {
  --background: var(--blue-900);
  --foreground: var(--gray-100);

  --card: var(--blue-850);
  --card-foreground: var(--gray-100);

  --popover: var(--blue-850);
  --popover-foreground: var(--gray-100);

  --primary: var(--blue-700);
  --primary-foreground: var(--white);

  --secondary: var(--blue-800);
  --secondary-foreground: var(--gray-300);

  --muted: var(--blue-900);
  --muted-foreground: var(--gray-400);

  --accent: var(--blue-600);
  --accent-foreground: var(--white);

  --destructive: var(--red-600);
  --destructive-foreground: var(--white);

  --success: var(--blue-600);
  --success-foreground: var(--white);

  --mono: var(--gray-300);
  --mono-foreground: var(--black);

  --border: var(--blue-800);
  --input: var(--blue-800);
  --ring: var(--blue-600);
}


/** ===============================
  Tailwind Theme Bridge
================================ */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}
