@import './root.css';

.scrollbar-minimal {
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: var(--blue-800) transparent;
  }
  
  /* Chrome / Edge / Safari */
  .scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: var(--blue-800);
    border-radius: 999px;
    opacity: 0.4;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-800);
  }
  



