/* Scoped map styles - all customizations are scoped to .neshan-map-scope */
/* Tailwind Core */
@import 'tailwindcss';
@source '../**/*.{ts,tsx}';
@import './root.css';

@import './config.reui.css';
@import './apex-charts.css';
@import './scrollbar.css';
