/* Scoped map styles - all customizations are scoped to .neshan-map-scope */
/* Tailwind Core */
@import 'tailwindcss';
@source '../**/*.{ts,tsx}';

/* ReUI Configs */
@import './config.reui.css';



/* ===== Minimal Scrollbar ===== */
.scrollbar-minimal {
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #163923 transparent;
  }
  
  /* Chrome / Edge / Safari */
  .scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: #081b0f;
    border-radius: 999px;
    opacity: 0.4;
  }
  
  .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
    background-color: #081b0f;
  }
  



